<li class="nav-item">
	<a href="{{ path ('cart.index')}}" class="nav-link">
		{% if countItems.getAllItems > 0 %}
			<i class="fa fa-1x fa-shopping-cart" aria-hidden="true"></i>
			<div class="count__items_cart">{{ countItems.getAllItems }}</div>
		{% else %}
			<div>
				<i class="fa fa-shopping-cart"></i> Panier</div>
		{% endif %}
	</a>
</li>
