{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
            {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}