.count__items_cart {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    width: 18px;
    height: 18px;
    background: #ff0000;
    color: #fff;
    vertical-align: top;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: -7px;
}

.fa-shopping-cart {
    font-size: 20px;
}