<div class="card mb-4">
    <img src="" alt="" style="width: 100%; height:auto;">
        <img src="" alt="" style="width: 100%; height:auto;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{path ('subcategories.show', {slug: category.slug, id: category.id})}}">{{ category.name }}</a>
                        </h5>
                     <p class="card-text"></p>
                <div class="text-primary" style="font-size:2rem; font-weight: bold;"></div>
            </div>
        </div>
                    