<div class="container mt-2">
    <h2>Nos Categories</h2>
    <div class="row flex">
        {% for category in categories %}
        <div class="col-3">
            <div class="card mb-4">
                <img src="" alt="" style="width: 100%; height:auto;">
                {% if category.picture %}
                <a href="{{path ('subcategories.show', {slug: category.slug, id: category.id})}}">
                    <img src="{{ vich_uploader_asset (category, 'imgfile')}}" alt="" style="width: 100%; height:auto;">
                </a>
                {% else %}
                <img src="" alt="" style="width: 100%; height:auto;">
                {% endif %}
                <img src="" alt="" style="width: 100%; height:auto;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a
                            href="{{path ('subcategories.show', {slug: category.slug, id: category.id})}}">{{ category.name }}</a>
                    </h5>
                    <p class="card-text"></p>
                    <div class="text-primary" style="font-size:2rem; font-weight: bold;"></div>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>