{% extends "base.html.twig" %}
    {% block title 'Bienvenue sur Guitars Shop' %}
        {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Promotions</h1>
        <p class="lead">Subtitle</p>
    </div>
</div>
<div class="container">
    <h2>Nos Categories</h2>
    <div class="row flex">
        {% for subcategory in subcategories %}
        <div class="col-3">
            <div class="card mb-4">
                <img src="" alt="" style="width: 100%; height:auto;">
                <img src="" alt="" style="width: 100%; height:auto;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path ('products.index', {slug: subcategory.slug, id: subcategory.id})}}">{{ subcategory.name }}</a>
                    </h5>
                    <p class="card-text"></p>
                    <div class="text-primary" style="font-size:2rem; font-weight: bold;"></div>
                </div>
            </div>
         </div>
       {% endfor %}
    </div>
</div>
{% endblock %}